{% extends "base.html" %}

{% block content %}
  <h1>Day - {{ userDayObjects.meal_schedule_name }}</h1>

  <p> Query userDayObjects: {{ userDayObjects }}</p>
  <p> Query userDayMeals: {{ userDayMeals }}</p>
  <p> Query userMealBlocks: {{ userMealBlocks }}</p>

  {% if userDayMeals %}
  <ul>

    {% for item in userMealBlocks %}
    <table bgcolor="#b3d9ff">
			<tr bgcolor="#3399ff">
				<th>Food Item</th>
				<th>Serving</th>
				<th>Calories</th>
				<th>Fat</th>
				<th>Carbs</th>
				<th>Protein</th>
			</tr>
      {% for i in item.food_item.all %}
			<tr>
				<td>{{ i.name }}</td>
				<td>{{ i.serving }}</td>
				<td>{{ i.calories }}</td>
				<td>{{ i.fat }}</td>
				<td>{{ i.carbs }}</td>
				<td>{{ i.protein }}</td>
			</tr>
      {% endfor %}

      {% for x in userDayMeals %}
      {% if item.meal_name == x.meal_block__meal_name %}
      <tr bgcolor="#80bfff">
				<td><strong>Total:</strong></td>
				<td></td>
				<td>{{ x.calories}}</td>
				<td>{{ x.fat }}</td>
				<td>{{ x.carbs }}</td>
				<td>{{ x.protein }}</td>
			</tr>
      {% endif %}
      {% endfor %}
    </table>
    {% endfor %}
    </ul>


  {% else %}
    <h2>There are no Meal plans available - Add food items to a meal</h2>
  {% endif %}
{% endblock %}
